#layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#layout .navbar-toggler {
  border: none;
}

#layout .routerOutlet {
    min-height: 100%;
    flex: 1;
}

#layout .logo-img {
    height: 47px;
    margin-left: -9px;
}
footer {
    position: relative;
}
footer #footer {
    text-align: center;
    font-weight: 400;
    color: var(--mq-txt-color, rgb(170, 170, 170));
    font-size: 0.8rem;
}
